<div class="sidebar-pane">
  <div class="bcw-section-header">
    <%= city_name_pretty %> Bridal Shows
  </div>

  <% @sidebar_events.each do |event| %>
    <div class="content-row">
      <div class="event-date"><%= event.start_date.strftime("%b %-1d") %></div>

      <div class="event-description">
        <div class="event-title"><%= event.title %></div>
        <div class="event-host core-ellipsis"><span class="light">Hosted By: </span><%= event.vendor.name %></div>
      </div>
    </div>
  <% end %>

  <div class="more-link">
    <%= link_to "&raquo; more events in #{city_name_pretty.downcase}".html_safe, "#" %>
  </div>
</div>