<!DOCTYPE html>
<html>
<head>
  <title>BCW</title>
  <%= stylesheet_link_tag    "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>

  <link rel="icon" type="image/ico" href="<%= image_path "favicon.ico" %>"/>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body id="<%= params[:controller] %>-<%= params[:action] %>">

    <%= render "layouts/bcw_header" %>

    <div id="bcw-content">
        <%= yield %>
    </div>

    <%= render "layouts/bcw_footer" %>

    <%= yield :scripts %>

</body>
</html>
